@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.index-title {
    display: block;
    margin: auto;
    min-width: 400px;
    max-width: 800px;
    text-align: center;
    font-size: 28px;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;s
}

.index-body {
    display: block;
    margin: 4px auto 4px auto;
    min-width: 400px;
    max-width: 800px;
    text-align: left;
    font-size: 16px;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
}

.index-link {
    display: block;
    text-align: center;
}

.state-container {
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 2px 2px 2px 2px;
    padding: 2px;
}

.state-container-title {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.div-center {
    display: flex;
    justify-content: center;
}

.jelly-page-header-bar {
    text-align: center;
    padding: 10px;
}

.jelly-page-header {
    display: inline;
}

.state-modal-btns {
    display: inline-block;
    background-color: black;
    float: right;
    position: relative;
}

.game-board {
    width: 100%;
    max-width: 1280px;
    height: 840px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.game-board-col {
    height: 100%;
}

.shop-tooltip-container {
    height: 20%;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
}

.shop-tooltip-flex {
    height: 75%;
    display: flex;
    justify-content: left;
}

.shop-tooltip-left-col {
    height: 100%;
    width: 60%;
}

.shop-tooltip-right-col {
    height: 100%;
    width: 30%;
    margin: auto;
}

.jelly-shop-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 10px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
    overflow-y: auto;
}

.jelly-shop-card {
    height: 130px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 2px 2px 2px 2px;
    padding: 2px;
}

.jelly-shop-card-header {
    text-align: left;
    font-size: 16px;
    height: 25%;
}

.jelly-shop-card-details {
    height: 50%;
    width: 100%;
    display: flex;
    margin: 2px 2px 2px 2px;
    padding: 2px;
}

.jelly-shop-card-left {
    height: 100%;
    width: 50%;
}

.jelly-shop-card-right {
    height: 150%;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.jelly-shop-card-btns {
    height: 25%;
    display: inline-block;
    z-index: 999;
}

.jelly-shop-card-content {
    text-align: left;
    font-size: 13px;
}

.jelly-click-padding {
    margin: auto;
    height: 230px;
    width: 230px;
}

.jelly-click-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    max-width: 200px;
    margin: auto;
}

.stats-container {
    height: 33%;
    width: 100%;
    border: 5px solid black;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
    padding: 5px;
    font-size: 1.2rem;
}

.upgrades-container {
    height: 66%;
    width: 100%;
    border: 5px solid black;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
    padding: 5px;
    overflow: auto;
}

.upgrades-card {
    height: 130px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 2px 2px 2px 2px;
    padding: 2px;
}

.jelly-click-grow {
    width: 110%;
    height: 110%;
}

.jelly-click-shrink {
    width: 90%;
    height: 90%;
}

.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-span {
    visibility: hidden;
    position: absolute;
    width: 120px;
    bottom: 50%;
    left: 95%;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

    tooltip-span::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 30%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.tooltip-wrapper:hover span {
    visibility: visible;
}

.jelly-tooltip-wrapper {
    position: relative;
    display: inline-block;
    height: 75%;
}

.jelly-tooltip-wrapper:hover span {
    visibility: visible;
}